/* work sans font from google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
  font-family: 'Work Sans', sans-serif;
}
/* header styles */

 header{
  background: rgba(248, 172, 87, 0.827);
  padding: 50px 240px;
 }
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navTitle{
  font-size: 3rem;
  font-weight: 700;
}
nav>ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500px;
  font-size: 1rem;
}
/* banner styles */
.bannerContent{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.bannerTitle{
  font-size: 4 rem;
  font-weight: 700px;
}
.bannerDescription{
  color: #727272;
}
.btnPrimary{
  color: white;
  background-color: orange;
  padding: 20px 25px;
  border: none;
  font-size: 20px;
  font-weight: 600px;
  cursor: pointer;
  border-radius: 4px;
  width:180px;
}
.banner img{
  margin-top: 20px;
  width: 100%;
}



/* main styles */
main{
  max-width: 1440px;
  margin: 70px auto;
}
/* teams styles */
.teamsContainer{
  display: flex;
  align-items: center;
}
.teamsImageContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teamsContent{
  padding-left: 70px;
  padding-right: 70px;

}
.teamsTitle{
  font-size: 2.8rem;
}
.teamsTitle{
  color: #727272;
}
.ofOur{
  color: black;
}
.features{
  color   : orange;
}



















/* responsive media queries */
@media screen and (max-width: 576px) {
  header{
    padding: 20px;
  }
  nav,
  .teamsContainer {
    flex-direction:column;
  }
  .teamsImageContainer{
    grid-template-columns: 1fr;
  }
  .teamsContent{
    padding-left: 0px;
    padding-right: 0px;
  }
  
}
