/* work sans font from google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
  font-family: 'Work Sans', sans-serif;
}
/* header styles */

 header{
  background: rgba(243, 134, 10, 0.1);
  padding: 50px 240px;
 }
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navTitle{
  font-size: 3rem;
  font-weight: 700;
}
nav>ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500px;
  font-size: 1rem;
}
/* banner styles */
.bannerContent{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.bannerTitle{
  font-size: 4 rem;
  font-weight: 700px;
}
.bannerDescription{
  color: #727272;
}
.btnPrimary{
  color: white;
  background-color: orange;
}